In [113]:
import math
import pandas as pd
#pd.options.display.max_rows = 200
import numpy as np
import sklearn as sk
from sklearn.neighbors import KNeighborsRegressor as KNN
from sklearn.model_selection import train_test_split as tts

%matplotlib inline
import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = [15, 8]

In [114]:
data = pd.read_csv('data.csv')
data.shape
data = data.drop(['Unnamed: 0', 'ingredients', 'country', 'company'], axis=1)
data = data.dropna()
#data[data.isna().any(axis=1)]
data.head()

   total_pack_size_ml_g  unit_pack_size_ml_g  price_per_100g_ml_dollars
0                 130.0                130.0                       0.32
1                  90.0                 90.0                       1.22
2                 120.0                120.0                       1.26
3                 100.0                100.0                       4.92
4                 160.0                160.0                       0.79

In [115]:
#cle = pre.LabelEncoder().fit(data['country'])
#data['country'] = cle.transform(data['country'])

#ble = pre.LabelEncoder().fit(data['company'])
#data['company'] = ble.transform(data['company'])

data.head()

   total_pack_size_ml_g  unit_pack_size_ml_g  price_per_100g_ml_dollars
0                 130.0                130.0                       0.32
1                  90.0                 90.0                       1.22
2                 120.0                120.0                       1.26
3                 100.0                100.0                       4.92
4                 160.0                160.0                       0.79

In [116]:
X = data.drop('price_per_100g_ml_dollars', axis=1)
y = data['price_per_100g_ml_dollars']

X_train, X_test, y_train, y_test = tts(X, y, test_size=0.25, random_state=0)

knn = KNN(n_neighbors=8)
knn.fit(X_train, y_train)

knn.score(X_test, y_test)

0.21582583567695768